<header><img width="100" height="100" src="https://previews.123rf.com/images/igoun/igoun1810/igoun181000081/109842072-car-vector-icon-isolated-simple-front-car-logo-illustration-sign.jpg" class="img-responsive main-image"></header>

<h1>Your appointments.</h1>
<ul>
  <% current_user.appointments.each do |appt| %>
  <li><a href="/appts/<%=appt.id%>"><%= "#{appt.name} - #{appt.date}" %></a></li>
  <%end%>
</ul>

<br/>
<a href="/bookappt">Book New Appointment</a>
<a href="/logout">Logout</a>
