<header><img width="100" height="100" src="https://previews.123rf.com/images/igoun/igoun1810/igoun181000081/109842072-car-vector-icon-isolated-simple-front-car-logo-illustration-sign.jpg" class="img-responsive main-image"></header>
<form action="/login" method="post">

  <label for="username">Username:</label>
  <input id="username" type="text" name="username"><br/>
  <label for="password">Password:</label>
  <input id="password" type="password" name="password"><br/>
  <input type="submit" value="Login">
    <% if @failed %>
  <p class="danger">Username/password are incorrect</p>
    <% end %>

</form>













<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <header><img width="100" height="100" src="https://previews.123rf.com/images/igoun/igoun1810/igoun181000081/109842072-car-vector-icon-isolated-simple-front-car-logo-illustration-sign.jpg" class="img-responsive main-image" href='/'></header>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form>
      <p>Name:
        <input type='text'></p>
      <p>Password:
        <input type='password'></p><br>
      <input type='submit' value="Login">

    </form>

  </body>
</html> -->
