<header><img width="100" height="100" src="https://previews.123rf.com/images/igoun/igoun1810/igoun181000081/109842072-car-vector-icon-isolated-simple-front-car-logo-illustration-sign.jpg" class="img-responsive main-image"></header>
<h1>Book your new appointment </h1>

<form action="/bookappt" method="POST">
  Appointment Name: <input type="text" name="name">
  Choose Your Date: <input type="date" name="date">
  <input type="submit" Value="Book Appointment">

</form>
